.container {
  position: absolute;
  width: 100vw;
  height: 100vh;

    .balloonContent{
      display: inline-block;
      width: 330px;
      align-items: center;
      justify-content: center;
      background-color: #333333;
      .balloonContentItem {
        &.high {
          color: greenyellow;
        }

        &.medium {
          color: yellow;
        }

        &.low {
          color: red;
        }

        &.nothing {
          text-align: center;
          color:orangered;
        }
      }
    }

  h3{
  text-align: center;
}



}
