.datable{
  height: 530px;
  width: 100%;
  text-align: center;

  .cell{
    font-size: 12px;
    &.over{
      background-color: greenyellow;
    }

    &.lower{
      background-color: orangered;
    }
  }
}