.inforaph {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;

  .openMenu {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 20px;

    .menuButton {
      top: 20px;
      right: 30px;
      width: 30px;
      height: 30px;
      color: #222222;
      cursor: pointer;
    }
  }

  .content {
    position: absolute;
    top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;

    /*.buttonNE {
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
    }

    .stack {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }*/

    .NEcharts {
      flex: 10;
      margin-top: 15px;
      padding: 20px 5px 20px;
      gap: 20px;
    }

    .OScharts {
      padding: 20px 5px 20px;
      gap: 20px;
    }
    .OMcharts {
       padding: 20px 5px 20px;
       gap: 20px;
     }
  }


}






